.side-bar-image {
  height: 97vh;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.side-bar-container {
  position: relative;
}

.side-bar-info-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.side-bar-info, .side-bar-info-2, .side-bar-info-3, .side-bar-info-4 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-of-steps p {
  padding: 5px 10px;
  color: white;
  border: 1px solid azure;
  border-radius: 20px;
  margin-right: 10px;
}

.number-of-steps {
  display: block;
  color: rgb(172, 172, 172);
  margin: 0;
  margin-bottom: 5px;
}

.sidebar-description h4 {
  color: rgb(255, 255, 255);
  margin: 0;
}

@media screen and (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .side-bar-image {
    display: none;
  }

  .bg-sidebar-mobile {
    display: block !important;
    width: 100%;
  }

  .side-bar-info-container {
    width: 100%;
    position: relative;
  }

  .side-bar-info-container {
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .side-bar-info-container .number-of-steps, h4 {
    display: none;
  }
  
  .image-of-steps p {
    background-color: rgb(112, 102, 255);
  }
}